{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Reserva de Hora</title>
{% endblock head %}
{% block content %}
        <header class="masthead">
        <br>        <br>
            <div class="container"> <div class=" text-center mt-5 ">
                </div>
                <div class="row ">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light">
                            <div class="card-body bg-light">
                                <div class="container">
                                    <form role="form" method="POST">
                                        {% csrf_token %}
                                        <div class="controls">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">{{form.fecha_solicitud.label}} {{form.fecha_solicitud}} {{form.fecha_solicitud.errors}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">{{form.hora.label}} {{form.hora}} {{form.hora.errors}}</div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div> <input type="button" class="btn btn-primary" value="Validar Hora"> </div>
                                                </div>                                                                                             
                                                <div class="col-md-8">
                                                    <div class="form-group">Servicio {{form.tiposervicio}} {{form.tiposervicio.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">Mecanico {{form.usuarioescritorio}} {{form.usuarioescritorio.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">{{form.asunto.label}} {{form.asunto}} {{form.asunto.errors}}</div>
                                                </div>
                                            </div>                                            

                                                <div class="col-md-12 d-flex justify-content-center"> <input type="submit" class="btn btn-primary" value="Registrar Hora"> </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /.8 -->
                    </div> <!-- /.row-->
                </div>
            </div>
        </header>
        <script>
            $(function () {
            $("#id_fecha_solicitud").datepicker({
                format:'dd/mm/yyyy',
            });
            });
        </script>
        <script>
            $(function () {
            $('#id_hora').timepicker({
                timeFormat: 'HH:mm',
                interval: 15,
                minTime: '9:00am',
                maxTime: '8:45pm',
                defaultTime: '9:00am',
                startTime: '10:00',
                dynamic: true,
                dropdown: true,
                scrollbar: true
            });
            });
        </script>
<section class='container'>
{% endblock content %}